.vs
*.VC.db
/intermediate
/ipch
*.VC.VC.opendb
*.user
*.cache

engine.vc2008/.vs/engine/v15/.suo
engine.vc2008/.vs/engine/v15/.suo
engine.vc2008/.vs/engine/v15/Browse.VC.db
engine.vc2008/.vs/engine/v15/ipch/5eb01120446c4996.ipch
engine.vc2008/.vs/engine/v15/ipch/5f2f14e4a748d416.ipch
engine.vc2008/.vs/engine/v15/ipch/791ccbe11efe426.ipch
engine.vc2008/.vs/engine/v15/Solution.VC.db